#box3-3 {
    margin-top: 3%;
    width: auto;
    height: 550px;
}

#main-text3-3 {
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

.games{
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.games-td{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 150px;
}