#box4-2 {
    margin-top: 3%;
    width: auto;
    height: 1000px;
}

#main-text4-2 {
    margin-top: 6%;
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#main-text4-2line {
    margin-bottom: 0.6%;
}

/* profile */
.explain-fornell{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    border: solid;
    border: 1.3px;
    font-size: 20px;
}

#fornell-profile table{
    width: 65%;
}

.td-left-fornell{
    font-size: 26px;
    text-align: center;
    background-color: yellow;
}

.fornell-td{
    font-size: 26px;
    text-align: center;
}