#box4-1 {
    margin-top: 3%;
    width: auto;
    height: 1000px;
}

#main-text4-1 {
    margin-top: 6%;
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#main-text4-1line {
    margin-bottom: 0.6%;
}

/* profile */
.explain-detore{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    border: solid;
    border: 1.3px;
    font-size: 20px;
}

.td-left-detore{
    font-size: 26px;
    text-align: center;
    background-color: skyblue;
}

.detore-td{
    font-size: 26px;
    text-align: center;
}