#title {
    font-size: 50px;
    margin-left: 3%;
}

#main-text{
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#box1 {
    width: auto;
    height: 600px;
}

#box2 {margin-top: 3%;
    width: auto;
    height: auto;
}

#box2-1 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box2-2 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box2-3 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box2-4 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box3 {margin-top: 3%;
    width: auto;
    height: auto;
}

#box3-1 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box3-2 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box3-3 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box3-4 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box4 {margin-top: 3%;
    width: auto;
    height: auto;
}

#box4-1 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box4-2 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box5 {margin-top: 3%;
    width: auto;
    height: auto;
}

#box5-1 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box5-2 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box5-3 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#hr{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

