#allground {
    height: 100%;
    width: 100%;
    background-color: rgb(224, 215, 215);
    border: 2px solid;
    border-top: 0px;
    border-bottom: 0px;
}

#top {
    width: 100%;
    height: 70px;
    border: 2px;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(36, 36, 129);
}

#content {
    width: 80%;
    height: auto;
    border: 2px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: white;
    border-radius: 40px 40px 40px 40px;
}

#fixed-top {
    width: auto;
    height: 60px;
    margin-top: 113px;
    margin-left: 70px;
    float: left;
    position: fixed;
    background-color: rgb(36, 36, 129);
}

#fixed-top a {
    font-size: 50px;
    text-decoration: none;
    color: white;
}