#move {
    text-align: center;
    margin-left: 87%;
    margin-top: 43%;
    position: fixed;
    width: 60px;
    height: 100px;
    background-color: rgb(36, 36, 129);
}

#fixed-top {
    position: fixed;
    margin-left: 0.3%;
}

#fixed-top a {
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

#fixed-bottom {
    margin-top: 2%;
    margin-left: 0.3%;
    position: fixed;
}

#fixed-bottom a {
    font-size: 50x;
    text-align: center;
    text-decoration: none;
    color: white;
}
