#new-notice label{
    font-size: 23px;
    text-decoration: underline;
}

#new-notice-list{
    border: 2px solid;
    width: 350px;
    border-color: rgb(36, 36, 129);
}

#new-notice-text{
    margin-left: 2%;
    margin-bottom: 0.2%;
    font-size: 20px;
    font-weight: bold;
}

#new-notice-check-btn {
    display: none;
}

#new-notice-check-btn:checked~.new-notice-menubars {
    display: block;
}

.new-notice-menubars {
    display: none;
}