#img{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#text{
    margin-top: 1%;
    text-align: center;
}

.text-1{
    font-size: 20px;
}

.text-2{
    font-size: 20px;
}

.explain{
    margin-right: auto;
    margin-left: auto;
    border: solid;
    border: 1.3px;
    font-size: 20px;
}