#side-list{
    width: 170px;
    height: 100px;
    margin-top: 180px;
    margin-left: 0.1%;
    position: fixed;
}

#side-list select{
    text-align: center;
    font-size: 19px;
}

.select-bold{
    font-weight: bold;
}

.select-size{
    font-size: 17px;
}