#list {
    width: 250px;
    height: auto;
    border: 1px;
    margin-top: 4%;
    margin-left: 3%;
    margin-bottom: auto;
    border-style: solid;
    border-color: rgb(36, 36, 129);
    float: left;
}

#profile {
    width: 35%;
    height: auto;
    border: 2px;
    margin-top: 4%;
    margin-bottom: auto;
    margin-right: 3%;
    border-style: solid;
    border-color: rgb(36, 36, 129);
    float: right;
}

td {
    text-align: center;
}

#list-1 {
    font-size: 20px;
    margin-bottom: 2%;
}

#list-y {
    font-size: 18px;
    margin-left: 1.5%;
    margin-top: 1.8%;
}

#list-x {
    font-size: 18px;
    margin-left: 11%;
}

#list-y a{
    text-decoration: none;
    color: blue;
}

#list-x a{
    text-decoration: none;
    color: blue;
}