@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

.text{
    text-align: center;
    font-size: 370%;
    word-break: break-all;
    font-family: 'Gamja Flower', sans-serif;
}

.text a{
    text-decoration: none;
    color: white;
}