#main {
    text-align: center;
}

#img-container {
    width: 530px;
    height: 700px;
    background-color: rgb(28, 224, 198);
}

#img-container img {
    margin-top: 40px;
    width: 350px;
    height: 350px;
}

.img-text1 {
    margin-top: 10px;
    font-size: 30px;
}

.img-text2 {
    margin-top: 2px;
    font-size: 20px;
}

#profile {
    width: 1000px;
    height: 700px;
    background-color: brown;
}

#prfile table,
th,
td {
    border: 1px solid;
    font-size: 25px;
}

#profile table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

td.color{
    background-color: blue;
    color: rgb(240, 217, 10);
}

td a{
    text-decoration: none;
    color: black;
}
