@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

#list-1 a{
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color:  #000000;
    font-family: 'Gamja Flower', sans-serif;
}

#list-2 a{
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color:  #000000;
    font-family: 'Gamja Flower', sans-serif;
}

hr{
    width: 195px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
}