#top{
    width: 100%;
    height: 70px;
    border: 2px;
    border-style: solid;
}

#content{
    width: 80%;
    height: auto;
    border: 2px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

