#list {
    width: 40%;
    height: auto;
    border: 2px;
    margin-top: 4%;
    margin-left: 3%;
    margin-bottom: auto;
    border-style: solid;
    border-color: blueviolet;
    float: left;
}

#profile {
    width: 35%;
    height: auto;
    border: 2px;
    margin-top: 4%;
    margin-bottom: auto;
    margin-right: 3%;
    border-style: solid;
    border-color: yellow;
    float: right;
}

td {
    text-align: center;
}

#list-1 {
    font-size: 25px;
    margin-bottom: 2%;
}

#list-y {
    font-size: 20px;
    margin-left: 1.5%;
    margin-top: 1.8%;
}

#list-x {
    font-size: 20px;
    margin-left: 5%;
}