@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gamja+Flower&display=swap');

#topic {
    position: absolute;
    top: 150px;
    /* shortcut 아래에 위치하게 하기 위해 */
    width: 1480px;
    height: 700px;
    background-color: transparent;
    overflow-y: auto;
    /* 스크롤 기능 추가 */
    border-style: solid;
    border-top: 0px;
}

#shortcut {
    height: 700px;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    background-color: transparent;
    width: 1455px;
    border-top: 0px;
    border-left: 0px;
    font-size: 70px;
    font-family: 'Dongle', sans-serif;
}

#shortcut a {
    color: black;
    text-decoration: none;
}

#shortcut-id hr {
    width: 1000px;
    height: 5px;
    background-color: black;
}

#topic1 {
    background-color: transparent;
    margin-top: 30px;
    width: 1455px;
    height: 200px;
    border-style: solid;
    border-left: 0px;
}

.topic1-subject {
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
}

.topic1-line {
    width: 1450px;
    height: 3px;
    background-color: gray;
}

.topic1-main {
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gamja Flower', sans-serif;
}

.topic2-subject {
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
}

.topic2-line {
    width: 1450px;
    height: 3px;
    background-color: gray;
}

.topic2-main {
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gamja Flower', sans-serif;
}

.topic3-subject {
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
}

.topic3-line {
    width: 1450px;
    height: 3px;
    background-color: gray;
}

.topic3-main {
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gamja Flower', sans-serif;
}

.topic4-subject {
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
}

.topic4-line {
    width: 1450px;
    height: 3px;
    background-color: gray;
}

.topic4-main {
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gamja Flower', sans-serif;
}

.topic5-subject {
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
}

.topic5-line {
    width: 1450px;
    height: 3px;
    background-color: gray;
}

.topic5-main {
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gamja Flower', sans-serif;
}

#topic2 {
    background-color: transparent;
    margin-top: 30px;
    width: 1455px;
    height: 200px;
    border-style: solid;
    border-left: 0px;
}

#topic3 {
    background-color: transparent;
    margin-top: 30px;
    width: 1455px;
    height: 200px;
    border-style: solid;
    border-left: 0px;
}

#topic4 {
    background-color: transparent;
    margin-top: 30px;
    width: 1455px;
    height: 200px;
    border-style: solid;
    border-left: 0px;
}

#topic5 {
    background-color: transparent;
    margin-top: 30px;
    width: 1455px;
    height: 200px;
    border-style: solid;
    border-left: 0px;
}

#topic6 {
    background-color: transparent;
    margin-top: 30px;
    width: 1455px;
    height: 200px;
    border-style: solid;
    border-left: 0px;
    border-bottom: 0px;
}