@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gamja+Flower&display=swap');


#subject{
    height: 100px;
    width: 1480px;
    top: 150px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
}

#subject p{
    text-align: center;
    font-size: 30px;
}

#subject select{
    width: 500px;
    height: 50px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    border: 4px solid;
}

#topic{
    top: 250px;
    position: absolute;
    width: 1480px;
    height: 600px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    overflow-y: auto;
}

#topic1 {
    width: 1455px;
    height: 600px;
    border-style: solid;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
}

#topic2 {
    width: 1455px;
    height: 600px;
    border-style: solid;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}

#topic3 {
    width: 1455px;
    height: 600px;
    border-style: solid;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}

#topic4 {
    width: 1455px;
    height: 600px;
    border-style: solid;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}

#topic5 {
    width: 1455px;
    height: 600px;
    border-style: solid;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
}

#topic6 {
    width: 1455px;
    height: 600px;
    border-style: solid;
    border-left: 0px;
    border-bottom: 0px;
    border-top: 0px;
}

.topic1-subject {
    font-family: 'Dongle', sans-serif;
    font-size: 70px;
}

.topic1-line {
    width: 1450px;
    height: 3px;
    background-color: gray;
}

.topic1-main {
    font-size: 35px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gamja Flower', sans-serif;
}

.topic2-subject {
    font-family: 'Dongle', sans-serif;
    font-size: 70px;
}

.topic2-line {
    width: 1450px;
    height: 3px;
    background-color: gray;
}

.topic2-main {
    font-size: 35px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gamja Flower', sans-serif;
}

.topic3-subject {
    font-family: 'Dongle', sans-serif;
    font-size: 70px;
}

.topic3-line {
    width: 1450px;
    height: 3px;
    background-color: gray;
}

.topic3-main {
    font-size: 35px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gamja Flower', sans-serif;
}

.topic4-subject {
    font-family: 'Dongle', sans-serif;
    font-size: 70px;
}

.topic4-line {
    width: 1450px;
    height: 3px;
    background-color: gray;
}

.topic4-main {
    font-size: 35px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gamja Flower', sans-serif;
}

.topic5-subject {
    font-family: 'Dongle', sans-serif;
    font-size: 70px;
}

.topic5-line {
    width: 1450px;
    height: 3px;
    background-color: gray;
}

.topic5-main {
    font-size: 35px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gamja Flower', sans-serif;
}