@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

body {
    /* Initial background gradient */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;

    /* Animation */
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#phone {
    width: 635px;
    height: 895px;
    margin: auto;
    border: 2px solid transparent;
    position: relative; /* 추가: 자식 요소의 절대 위치를 기준으로 설정 */
}

#phone .phone_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; /* 이미지의 z-index 값을 낮게 설정 */
}

#phone .phone_img img {
    width: 100%;
    height: 100%;
}

#phone .img_box,
#phone .information_box,
#phone .bar,
#phone .time,
#phone .control_box,
#phone .music_list {
    position: relative;
    z-index: 2; /* 다른 요소들의 z-index 값을 높게 설정 */
}

/* 각 요소들에 대한 기존 스타일을 유지 */
#phone .img_box {
    width: 320px;
    height: 180px;
    border: 2px solid;
    margin: auto;
    margin-top: 70px;
    background-color: brown;
}

#phone .img_box #song-image {
    width: 320px;
    height: 180px;
}

#phone .information_box {
    width: 320px;
    height: 80px;
    margin: auto;
    margin-top: 5px;
}

#phone .bar {
    width: 220px;
    height: 20px;
    margin: auto;
    margin-top: 5px;
}

#phone .time {
    width: 110px;
    height: 20px;
    border: 2px solid;
    margin-left: 315px;
    margin-top: 1px;
    font-weight: bold;
    text-align: center;
}

#phone .control_box {
    width: 320px;
    height: 60px;
    margin: auto;
    margin-top: 5px;
    display: flex;
}

#phone .music_list {
    width: 320px;
    height: 370px;
    border: 4px solid;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px;
    font-size: 110%;
    font-family: "Gaegu", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
}
