#box2 {margin-top: 3%;
    width: auto;
    height: auto;
}

#box2-1 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box2-2 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box2-3 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box2-4 {margin-top: 3%;
    width: auto;
    height: 600px;
}