#box2 {margin-top: 3%;
    width: auto;
    height: auto;
}

#main-text2-1{
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#main-text2-2{
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#main-text2-3{
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#main-text2-4{
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#box2-1 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box2-2 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box2-3 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box2-4 {margin-top: 3%;
    width: auto;
    height: 600px;
}