#box3 {margin-top: 3%;
    width: auto;
    height: auto;
}

#box3-1 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box3-2 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box3-3 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box3-4 {margin-top: 3%;
    width: auto;
    height: 600px;
}