#box4 {
    margin-top: 3%;
    width: auto;
    height: 500px;
}

#main-text4 {
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#main-text4-line {
    margin-bottom: 0.6%;
}

#AlTo-Fo-youtube{
    font-weight: bold;
}

#box4-1 {
    margin-top: 3%;
    width: auto;
    height: 1000px;
}

#main-text4-1 {
    margin-top: 6%;
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#main-text4-1line {
    margin-bottom: 0.6%;
}

#box4-2 {
    margin-top: 3%;
    width: auto;
    height: 1000px;
}

#main-text4-2 {
    margin-top: 6%;
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#main-text4-1line {
    margin-bottom: 0.6%;
}

#box4-3 {
    margin-top: 3%;
    width: auto;
    height: 300px;
}

#main-text4-3 {
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}