#box5 {margin-top: 3%;
    width: auto;
    height: auto;
}

#main-text5-1{
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}



#main-text5-2{
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#main-text5-3{
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#box5-1 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box5-2 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box5-3 {margin-top: 3%;
    width: auto;
    height: 600px;
}
