#box5 {margin-top: 3%;
    width: auto;
    height: auto;
}

#box5-1 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box5-2 {margin-top: 3%;
    width: auto;
    height: 600px;
}

#box5-3 {margin-top: 3%;
    width: auto;
    height: 600px;
}
