#box4 {
    margin-top: 3%;
    width: auto;
    height: 350px;
}

#main-text4 {
    font-size: 25px;
    margin-left: 3%;
    margin-right: 3%;
}

#main-text4-line {
    margin-bottom: 0.6%;
}

#AlTo-Fo-youtube{
    font-weight: bold;
}